<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
	<div class="container">
		<center>
			<img src="https://i.gifer.com/OF7u.gif" class="center"></img>
			<h1>Eat-Da-Burger</h1>
		</center>
		<br>
		<br> {{{ body }}}
		<br>
		<br>
	</div>
</body>

</html>